# Análisis Descriptivo

In [1]:
# Importando librerias
import numpy as np
import pandas as pd

In [2]:
datadf = pd.read_csv("data.csv",sep = ";")
datadf.head()

,id,Gender,Python_user,R_user,Age,Publications,Tasks,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Year
0,1,female,yes,yes,38.0,33,Postdoctoral_research,5,5,5,3,3,2,5,4,5,4,2004
1,2,male,no,yes,36.0,31,Postdoctoral_research,3,4,4,4,4,3,5,4,4,2,2002
2,3,male,yes,no,30.0,19,PhD_Student,5,5,5,4,5,4,5,4,5,5,2016
3,4,female,yes,no,42.0,29,Phd_Supervisor,4,4,4,3,3,4,4,2,3,4,2007
4,5,female,yes,no,37.0,31,PhD_Student,4,3,5,2,4,4,5,3,5,4,2001

# 1.- Categorical Variables

## Análisis del genero

In [4]:
### Gender descriptive analysis
# Count of each factor level of the Gender variable
datadf['Gender'].value_counts()

male      113
female     87
Name: Gender, dtype: int64

In [6]:
# Filtering Gender data
gender_datadf = datadf['Gender']

# Group by Gender value
gender_datadf = pd.DataFrame(gender_datadf.value_counts(sort=True))

gender_datadf

        Gender
male       113
female      87

In [7]:


# Create new column with cumulative sum
gender_datadf['cum_sum'] = gender_datadf['Gender'].cumsum()

# Create new column with relative frequency
gender_datadf['cum_perc'] = 100*gender_datadf['cum_sum']/gender_datadf['Gender'].sum()

# Show values
gender_datadf

        Gender  cum_sum  cum_perc
male       113      113      56.5
female      87      200     100.0

## A similar study to the study of the Gender variable

In [8]:
### Python_user descriptive analysis

# Filtering Python_user data
python_datadf = datadf['Python_user']

# Group by Python_user
python_datadf = pd.DataFrame(python_datadf.value_counts(sort=True))

# Create new column with cumulative sum
python_datadf['cum_sum'] = python_datadf['Python_user'].cumsum()

# Create new column with relative frequency
python_datadf['cum_perc'] = 100*python_datadf['cum_sum']/python_datadf['Python_user'].sum()

# Show values
python_datadf

     Python_user  cum_sum    cum_perc
yes          107      107   53.768844
no            92      199  100.000000

## Using the value_counts function

In [9]:
### Python_user descriptive analysis
datadf['Python_user'].value_counts()

yes    107
no      92
Name: Python_user, dtype: int64

In [ ]:
python_datadf = datadf['Python_user']

python_datadf = pd.DataFrame(python_datadf.value_counts(sort=True,dropna =False))

python_datadf['cum_sum'] = python_datadf['Python_user'].cumsum()

python_datadf['cum_perc'] = 100*python_datadf['cum_sum']/python_datadf['Python_user'].sum()

python_datadf

## Analysis of the R_user variable

In [10]:
### R_user descriptive analysis
print(datadf['R_user'].value_counts())

yes    109
no      91
Name: R_user, dtype: int64

In [13]:
# Filtering R_user data
r_datadf = datadf['R_user']

# Group by R_user
r_datadf = pd.DataFrame(r_datadf.value_counts(sort=True))

# Create new column with cumulative sum
r_datadf['cum_sum'] = r_datadf['R_user'].cumsum()

# Create new column with relative frequency
r_datadf['cum_perc'] = 100*r_datadf['cum_sum']/r_datadf['R_user'].sum()

# Show value
r_datadf

     R_user  cum_sum  cum_perc
yes     109      109      54.5
no       91      200     100.0

## "Tasks”

In [14]:
### Tasks descriptive analysis

# Filtering Tasks data
tasks_datadf = datadf['Tasks']

# Group by tasks
tasks_datadf = pd.DataFrame(tasks_datadf.value_counts(sort=True))

# Create new column with cumulative sum
tasks_datadf['cum_sum'] = tasks_datadf['Tasks'].cumsum()

# Create new column with relative frequency
tasks_datadf['cum_perc'] = 100*tasks_datadf['cum_sum']/tasks_datadf['Tasks'].sum()

# Show values
tasks_datadf

                       Tasks  cum_sum  cum_perc
PhD_Student               78       78      39.0
Postdoctoral_research     66      144      72.0
Phd_Supervisor            56      200     100.0

#  2.- Discrete Numerical Variables

## Age and publication variables

In [ ]:
### Age and number of publications descriptive analysis

## Age

# To write the name of the output list
print("\nAge Variable: \n")

# Dimension of the Age variable
print("Number of elements: {0:8.0f}".format(len(datadf['Age'])))

# Minimum and maximum of the Age variable
print("Minimum: {0:8.3f} Maximum: {1:8.3f}".format(datadf['Age'].min(), datadf['Age'].max()))

# Mean of the Age variable
print("Mean: {0:8.3f}".format(datadf['Age'].mean()))

# Variance of the Age variable
print("Variance: {0:8.3f}".format(datadf['Age'].var()))

# Standard deviation of the Age variable
print("Standard Deviation: {0:8.3f}".format(datadf['Age'].std()))

In [ ]:
datadf['Age'].describe()

In [ ]:
##Publications

# To write the name of the output list
print("\nPublications: \n")

# Dimension of the Publications variable
print("Number of elements: {0:8.0f}".format(len(datadf['Publications'])))

# Minimum and maximum of the Publications variable
print("Minimum: {0:8.3f} Maximum: {1:8.3f}". format(datadf['Publications'].min(), datadf['Publications'].max()))

# Mean of the Publications variable
print("Mean: {0:8.3f}".format(datadf['Publications'].mean()))

# Variance of the Publications variable
print("Variance: {0:8.3f}".format(datadf['Publications'].var()))

# Standard deviation of the Publications variable
print("Standard Deviation: {0:8.3f}".format(datadf['Publications'].std()))

In [ ]:
datadf['Publications'].describe()

# 3.- Continuous Numerical Variables

## Frequency analysis

In [ ]:
### Frequency analysis of Publications variable

# Filtering Publications data
pubs_datadf = datadf['Publications']

# Group by publications
pubs_datadf = pd.DataFrame(pubs_datadf.value_counts(sort=True))

# Create new column with cumulative sum
pubs_datadf['cum_sum'] = pubs_datadf['Publications'].cumsum()

# Create new column with relative frequency
pubs_datadf['cum_perc'] = 100*pubs_datadf['cum_sum']/pubs_datadf['Publications'].sum()

# Show values
pubs_datadf

## Two suggestions of the division with intervals and cor- responding frequencies

In [ ]:
### Division at intervals and corresponding frequencies

# a) Division of the interval in 11 equal parts, and the interval closed on right
table = np.histogram(datadf['Publications'], bins=11, range=(0, 70))

table

In [ ]:
# b) Division at fixed intervals, i.e., the buckets object indicates
#    the limits of the intervals. The intervals should be closed on right.
buckets = [0,10, 20, 30, 40,70]
table = np.histogram(datadf['Publications'], bins=buckets)

table

# 4.- Graphical Representation

## 4.1.- Pie Chart

In [ ]:
### Pie Chart Gender
# Import packages matplotlib.pyplot and pandas
import matplotlib.pyplot as plt

# Pie chart labels
label_list = datadf['Gender'].value_counts(sort=False).index

# Plot pie chart axis
plt.axis("equal")

# The pie chart is oval by default. To make it a circle use pyplot. axis(“equal”)
# To show the percentage of each pie slice, pass an output format to the autopct 
# parameter (rounding to 1 decimal place). 
plt.pie(datadf['Gender'].value_counts(sort=False),
        labels=label_list,autopct="%1.1f%%")

plt.title("Researchers Gender")

plt.show()

## 4.2 Bar Graph

In [ ]:
### Tasks Bar Graph
# Grouped sum of Tasks
var = datadf['Tasks'].value_counts(sort=False)

# Tasks Bar Graph
plt.figure()

# Setting y-axis label
plt.ylabel("Number of Reseachers")

# Setting graph title
plt.title("Counting Reseacher’s Tasks")

# Trigger Bar Graph
var.plot.bar()

# Show Bar Graph
plt.show()

## 4.3.- Boxplots

In [ ]:
datadf = pd.read_csv("data.csv",sep = ";")
datadf.head()

In [ ]:
### Boxplot of Age variable

# First we have to take NaN values and substitute 
# them for the mean of the variable
datadf['Age']=datadf['Age'].replace('nan',datadf['Age'].mean())

# Set type plot
datadf['Age'].plot(kind='box')

# Setting Plot Title
plt.title('Age Boxplot')

# Show Plot
plt.show()

In [ ]:
### Boxplot of Publications variable

# Plot boxplot and create one or more subplots 
# using add_subplot, because you can’t create blank figure

# Set type plot
datadf['Publications'].plot(kind='box')

# Boxplot Title
plt.title('Publications Boxplot')

# Show Boxplot
plt.show()

## Boxplot showing the number of Publications depending on the Age of the researchers

In [ ]:
### Boxplot of Publications vs. Age
# Import pandas package
import pandas as pd
# First we have to take NaN values and 
# substitute them for the mean of the variable

datadf['Age']=datadf['Age'].replace('nan',datadf['Age'].mean())
# Get only Publications and Age variables
new_datadf = datadf.ix[:,['Age','Publications']]
# Boxplot
new_datadf.boxplot(by='Age',rot = 90)

## Histogram of the number of Publications

In [ ]:
### Histogram of the number of Publications

# Publications Histogram
fig=plt.figure() #Plots in matplotlib reside within a figure object, use plt.figure to create new figure

# Create one or more subplots using add_subplot, because you can’t create blank figure
ax = fig.add_subplot(1,1,1)

# Variable
ax.hist(datadf['Publications'],facecolor='green')# Here it is possible to change the number of bins

# Limits of x axis
ax.set_xlim(0, 70)

# Limits of y axis
ax.set_ylim(0,80)

# Set grid on
ax.grid(True)

# Labels and Title
plt.title('Publications distribution')
plt.xlabel('Publications')
plt.ylabel('#Reseachers')

# Finally, show plot
plt.show()